@using Finary.Models;


@{
    ViewBag.Title = "TransactionStatus";
    Layout = "~/Views/Shared/PublicLayout.cshtml";
    TransactionStatusModel res = ViewBag.TransactionStatusModel;
}

@section styles{
    <meta http-equiv="refresh" content="60" />
    <style type="text/css">
        #qrcode img {
            margin: 0 auto;
        }
    </style>

}
<div id="main-wrapper">

    @if (res.status != null)
    {
        <div class="section-padding">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
                        <div class="auth-form card">
                            <div class="card-header">
                                <h4 class="card-title">وضعیت تراکنش</h4>
                                <label> <span class="fa fa-refresh"></span> @res.updatedAt</label>
                                <a href="#" onclick="copyToClipboard('@res.id')">@res.id</a>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="identity-content">
                                        <span class="icon">
                                            @{
                                                switch (res.status)
                                                {
                                                    case "منتظر واریز":
                                                        <i class="fa fa-spinner fa-spin fa-fw"></i>
                                                        break;
                                                    case "درحال تایید":
                                                        <i class="fa fa-check-circle"></i>
                                                        break;
                                                    case "در حال تبدیل":
                                                        <i class="fa fa-exchange"></i>
                                                        break;
                                                    case "در حال ارسال":
                                                        <i class="fa fa-send"></i>
                                                        break;
                                                    case "پایان":
                                                        <i class="fa fa-birthday-cake"></i>
                                                        break;
                                                    case "خطا در تبادل":
                                                        <i class="fa fa-chain-broken"></i>
                                                        break;
                                                    case "بازپرداخت شده":
                                                        <i class="fa fa-qrcode"></i>
                                                        break;
                                                    case "منقضی شده":
                                                        <i class="fa fa-qrcode"></i>
                                                        break;
                                                    default:
                                                        <i class="fa fa-shield"></i>

                                                        break;
                                                }
                                            }
                                        </span>

                                        <h4 style="width:100%;max-width:initial;">@res.status</h4><br />
                                        @if (res.status == "منتظر واریز")
                                        {
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text"><i class="fa fa-barcode"></i></label>
                                                    </div>
                                                    <input id="transactionID" style="font-size:0.8em;" type="text" class="form-control" value="@res.id" readonly>
                                                    <button onclick="copyToClipboard($('#transactionID').val()); return false;" class="btn btn-primary waves-effect" style="min-width:initial"><i class="fa fa-copy"></i> کپی</button>
                                                </div>
                                                <label>جهت پیگیری تراکنش<label>
                                            </div>
                                            <span style="width:100%;max-width:initial;"><img style="width:10%" src="~/Resources/SVG-icons/@(res.fromCurrency).svg" /> @res.expectedSendAmount @res.fromCurrency به ولت زیر ارسال کنید</span>
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text"><i class="fa fa-qrcode"></i></label>
                                                    </div>
                                                    <input id="wallet" style="font-size:0.8em;" type="text" class="form-control" value="@res.payinAddress" readonly>
                                                    <button onclick="copyToClipboard($('#wallet').val()); return false;" class="btn btn-primary waves-effect" style="min-width:initial"><i class="fa fa-copy"></i> کپی</button>
                                                </div>

                                            </div>
                                            <div id="qrcode"></div>
                                        }
                                        else if (res.status == "در حال ارسال" || res.status == "بازپرداخت شده")
                                        {
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text"><i class="fa fa-qrcode"></i></label>
                                                    </div>
                                                    <input id="wallet" style="font-size:0.8em;" type="text" class="form-control" value="@res.payoutAddress" readonly>
                                                    <button onclick="copyToClipboard($('#wallet').val()); return false;" class="btn btn-primary waves-effect" style="min-width:initial"><i class="fa fa-copy"></i> کپی</button>
                                                </div>

                                            </div>
                                        }
                                        else if (res.status == "خطا در تبادل")
                                        {
                                            <span>درصورتی که تا 15 دقیقه بعد ارز ارسالی به ولت شما بازپرداخت نشد با پشتیبانی تماس بگیرید</span>
                                        }
                                        else if (res.status == "منقضی شده")
                                        {
                                            <span>به دلیل عدم واریز این تراکنش منقضی شده است ، در صورت تمایل تراکنش جدیدی ایجاد کنید</span>
                                        }
                                        else if (res.status == "پایان")
                                        {
                                            <span>تبادل شما انجام شد امید واریم از خدمات صرافی Finary رضایت کامل داشته باشید </span>
                                        }

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="verification section-padding">
            <div class="container h-100">
                <div class="row justify-content-center h-100 align-items-center">
                    <div class="col-xl-4 col-md-6">
                        <div class="auth-form card">
                            <div class="card-header">
                                <h4 class="card-title">Link a Debit card</h4>
                            </div>
                            <div class="card-body">
                                <form action="verify-step-4.html" class="identity-upload">
                                    <div class="identity-content">
                                        <span class="icon"><i class="fa fa-shield"></i></span>
                                        <h4>TODO</h4>
                                        <p>
                                            Your identity is being verified. We will email you once your verification has completed.
                                        </p>
                                    </div>

                                    <div class="upload-loading text-center mb-3">
                                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section customMarkups{
    <div class="bg_icons"></div>
}


@section scripts{
    <script src="~/Resources/js/qrcode.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var qrCode= new QRCode(document.getElementById("qrcode"), '@res.payinAddress');
        })

        function copyToClipboard(text) {
            var textArea = document.createElement("textarea");
            textArea.style.position = 'fixed';
            textArea.style.top = 0;
            textArea.style.left = 0;

            // Ensure it has a small width and height. Setting to 1px / 1em
            // doesn't work as this gives a negative w/h on some browsers.
            textArea.style.width = '2em';
            textArea.style.height = '2em';

            // We don't need padding, reducing the size if it does flash render.
            textArea.style.padding = 0;

            // Clean up any borders.
            textArea.style.border = 'none';
            textArea.style.outline = 'none';
            textArea.style.boxShadow = 'none';

            // Avoid flash of white box if rendered for any reason.
            textArea.style.background = 'transparent';


            textArea.value = text;

            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';

            } catch (err) {

            }

            document.body.removeChild(textArea);
        }
    </script>
}

